<!DOCTYPE html>
<html lang="en">
<head>
<title>Transaction - Bank System</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstrap-css -->
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
<!--// bootstrap-css -->
<!-- css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" media="all" />
<!--// css -->
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/owl.carousel.css') }}" type="text/css" media="all">
<link href="{{ url_for('static', filename= 'css/owl.theme.css') }}" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename= 'css/cm-overlay.css') }}" />
<!-- font-awesome icons -->
<link href="{{ url_for('static', filename= 'css/font-awesome.css') }}" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- font -->
<link href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script src="{{ url_for('static', filename= 'js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/bootstrap.js') }}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- animation -->
<link href="{{ url_for('static', filename= 'css/animate.css') }}" rel="stylesheet" type="text/css" media="all">
<script src="{{ url_for('static', filename= 'js/wow.min.js') }}"></script>
	<script>
		 new WOW().init();
	</script>
<!-- //animation -->
<script>
$(document).ready(function() {
	$("#owl-demo").owlCarousel({

		autoPlay: 3000, //Set AutoPlay to 3 seconds
		autoPlay:true,
		items : 3,
		itemsDesktop : [640,5],
		itemsDesktopSmall : [414,4]

	});

});
</script>

</head>

<!--{% extends "layout.html" %}-->
{% block body %}
	<!-- banner -->
	<div class="banner">
		<!--header-->
		<div class="header">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a  href="{{ url_for('index') }}">ADB <span>Banking</span></a></h1>
					</div>
					<!--navbar-header-->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{ url_for('index') }}">Home</a></li>
							<li><a href="{{ url_for('login') }}" class="active">Transaction</a></li>
                            <li><a href="{{ url_for('logout') }}">Logout</a></li>
						</ul>

<!--						<div class="clearfix"> </div>-->
					</div>
				</nav>
			</div>
		</div>

<!--		<div class="bounce animated">-->
<!--			<a href="#welcome" class="scroll">-->
<!--				<div class="mouse"></div>-->
<!--			</a>-->
<!--		</div>-->
	</div>

	<!-- //map -->
	<!-- contact -->
	<div class="contact" id="search">
		<div class="container">
			<div class="w3-welcome-heading">
				<h3>View Transaction Statements for Administrator</h3>
			</div>
			<div>
			{% if error %}
				<p class=error><strong>Error:</strong> {{ error }}</p>
  			{% endif %}
			</div>
			<div class="agile-contact-grids">
			<form action="/admin/search" method="post">
				<div class="col-md-7 contact-form">
             <h3>1.Query the number of transactions by district and time</h3>
             	<select name="dist" required>
					<option value="">Name of District</option>
					{% for data in district %}
					<option value={{data['id']}}>{{data['name']}}</option>
					{% endfor %}
				</select>
				<select name="year" required>
					<option value="">Select Year</option>
					<option value="1993">1993</option>
					<option value="1994">1994</option>
					<option value="1995">1995</option>
					<option value="1996">1996</option>
					<option value="1997">1997</option>
					<option value="1998">1998</option>
				</select>
				<select name="month" required>
					<option value="">Select Month</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
				</select>
				<select name="db" required>
					<option value="">Database</option>
					<option value="1">Neo4j</option>
					<option value="2">MySQL</option>
					<option value="3">MongoDB</option>
				</select>
                    <input type="submit" value="Search">
					<input type="hidden" name="queryID" value="1">
				</div>
			</form>
			</div>
		</div>
	</div>
<div class="table">
				{% if query_id == 1 %}
					<table align="center">
						<tr>
							<th>District Name</th>
							<th>Time</th>
							<th>Number of Transactions</th>
						</tr>
						{% for data in res %}
						<tr>
							<td> {{ data['dist'] }} </td>
							<td> {{ req['year'] }}-{{req['month']}} </td>
							<td> {{ data['count'] }}</td>
						</tr>
						{% endfor %}
					</table>
				{% endif %}
			</div>
<div class="contact">
		<div class="container">
			<div class="agile-contact-grids">
			<form action="/admin/search" method="post">
				<div class="col-md-7 contact-form">
                    <h3>2.Query the number of transactions by account_id</h3>
					<div>
						<label for="acc">account_id</label>
						<input type="text" id="acc" name="account_id" placeholder="input your account_id" required>
					</div>
                    <select name="db" required>
					<option value="">Database</option>
					<option value="1">Neo4j</option>
					<option value="2">MySQL</option>
					<option value="3">MongoDB</option>
					</select>
					<input type="submit" value="Search">
					<input type="hidden" name="queryID" value="2">
				</div>
			</form>
			</div>
		</div>
</div>
			<div class="table">
				{% if query_id == 2 %}
					<table align="center">
						<tr>
							<th>Account_ID</th>
							<th>Number of Transactions</th>
						</tr>
						{% for data in res %}
						<tr>
							<td> {{ req['account_id'] }} </td>
							<td> {{ data['count(t)'] }}</td>
						</tr>
						{% endfor %}
					</table>
				{% endif %}
			</div>

<div class="contact">
		<div class="container">
			<div class="agile-contact-grids">
			<form action="/admin/search" method="post">
			<div class="col-md-7 contact-form">
				<h3>3.Query the number of customers by different age_range and loan ability</h3>
				<select name="age_range" required>
					<option value="">Age_Range</option>
					<option value="1">0-25</option>
					<option value="2">26-50</option>
                    <option value="3">51-75</option>
					<option value="4">76+</option>
					<option value="all">Select ALL</option>
				</select>
				<select name="loan" required>
					<option value="">Loan Ability</option>
					<option value="A">A</option>
					<option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
					<option value="all">Select ALL</option>
				</select>
				<select name="db" required>
					<option value="">Database</option>
					<option value="1">Neo4j</option>
					<option value="2">MySQL</option>
					<option value="3">MongoDB</option>
				</select>
				<input type="submit" value="Search">
				<input type="hidden" name="queryID" value="3">
			</div>
			</form>
			</div>
		</div>
</div>
<div class="contact">
		<div class="container">
			<div class="agile-contact-grids">
			<form action="/admin/search" method="post">
                <div class="col-md-7 contact-form">
                  <h3>4.Query the number of transactions and custumers by different district</h3>
				<select>
					<option selected disabled>Name of District</option>
					<option value="1">pitt</option>
					<option value="2">nyc</option>
				</select>
				<select>
					<option selected disabled>Database</option>
					<option value="1">Neo4j</option>
					<option value="2">MySQL</option>
					<option value="3">MongoDB</option>
				</select>
				<input type="submit" value="Search">
				<input type="hidden" name="queryID" value="4">
				</div>
			</form>
			</div>
		</div>
</div>

<div class="contact">
		<div class="container">
			<div class="agile-contact-grids">
			<form action="/admin/search" method="post">
                <div class="col-md-7 contact-form">
					<h3>5.Query the number of female and male by different district</h3>
				<select>
					<option selected disabled>Name of District</option>
					<option value="1">pitt</option>
					<option value="2">nyc</option>
				</select>
					<select>
					<option selected disabled>Database</option>
					<option value="1">Neo4j</option>
					<option value="2">MySQL</option>
					<option value="3">MongoDB</option>
				</select>
				<input type="submit" value="Search">
				<input type="hidden" name="queryID" value="5">
				</div>
			</form>
			</div>
		</div>
</div>

<div class="contact">
		<div class="container">
			<div class="agile-contact-grids">
			<form action="/admin/search" method="post">
				<div class="col-md-7 contact-form">
					<h3>6.Show the information according to different customer</h3>
				<select>
					<option selected disabled>Loan Ability</option>
					<option value="1">A</option>
					<option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
				</select>
					<select>
					<option selected disabled>Database</option>
					<option value="1">Neo4j</option>
					<option value="2">MySQL</option>
					<option value="3">MongoDB</option>
                    <input type="submit" value="Search">
				</select>
				</div>
			</form>
			</div>
		</div>
</div>
	<!-- //contact -->
	<!-- footer -->
	<div class="jarallax footer">
		<div class="container">
			<div class="footer-logo">
				<h3><a href="index.html">ADB <span>Banking</span></a></h3>
			</div>

		</div>
	</div>
	<!-- //copyright -->
	<script src="{{ url_for('static', filename='js/jarallax.js') }}"></script>
	<script src="{{ url_for('static', filename='js/SmoothScroll.min.js') }}"></script>
	<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})
	</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/move-top.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/easing.js') }}"></script>
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
<script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
{% endblock %}
</html>
